@media only screen and (min-width: 412px) and (max-width:767px){
    *{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }
    html,body{
        height:100%;
        width:100%;
    }
    #page1{
        padding-top: 6vh;
        width: 100%;
    }
    #page1 h1{
        padding-top: 6vh;
    }
    nav{
        height: 6vh;
    }
    nav h2{
        font-size: 5vw;
    }
    #navmiddle{
        display: none;
    }
    #box1{
        height: 50vh;
        /* background-color: aqua; */
        flex-direction: column;

    }
    #box1left{
        display: flex;
        justify-content: space-between;
        width: 50vw;
        margin-top: 5vh;
    }
    #box1leftc1, #box1leftc2{
        transform: scale(2);
    }
    #box1skull{
        height: 50vh;
        width: 75vw;
    }
    #box1right{
        width: 25vw;
        transform: scale(2);
        margin-top: 0;
        background-color: aqua;
    }
}